body {
	background-image: 
	url("Scifi.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 750px;
	color: #095eb3;
	font-family: fantasy;
	font-size: 6rem;
	letter-spacing: 10px;
	text-shadow: 5px 5px 10px black;
}

hr {
    border-color: #26A42F;
    border-width: 6px;
    max-width: 65px;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	width: 250px;
	align-self: center;
}

.btn-success {
	background-color: #26A42F;
	border-color: #26A42F;
}

.btn-success:hover {
	background-color: limegreen;
	border-color: limegreen;
}




